<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shenzhen.teamway.dao.RoleResourcesMapper" >
  <resultMap id="BaseResultMap" type="shenzhen.teamway.bean.RoleResources" >
    <id column="roleId" property="roleid" jdbcType="INTEGER" />
    <id column="resourcesId" property="resourcesid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from role_resources
    where roleId = #{roleid,jdbcType=INTEGER}
      and resourcesId = #{resourcesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="shenzhen.teamway.bean.RoleResources" >
    insert into role_resources (roleId, resourcesId)
    values (#{roleid,jdbcType=INTEGER}, #{resourcesid,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select roleId, resourcesId
    from role_resources
  </select>
</mapper>